
#header-container {
  position: relative;
  top: 0;
  background-size: cover;
  background-position: 50%;
  font-family: $font-secondary;
  z-index: 1234;
  padding: 0;
  transition: all 0.3s;
  background-color: $f;
  width: 100%;

  // top bar
  section.bar-top {
    background-color: $color-secondary;

    @media screen and (max-width: 992px) {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 1px;
    }

    .container {
      width: 100%;
      margin: 0 auto;
      padding: 0;

      @media screen and (max-width: 500px) {
        padding: 0 20px
      }

      .content {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        @media screen and (max-width: 992px) {
          flex-wrap: nowrap;
          width: 100%;
          justify-content: flex-start;
          align-items: flex-end;
          flex-direction: column;
        }

      }

      .bar-top-links {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        width: 100%;

        @media screen and (max-width: 992px) {
        }

        .contact-block {
          a {
            font-size: 12px;
            transition: all 0.3s;
            color: $f;
            margin-right: 10px;
            &:hover {
              transform: scale(0.9);
            }
          }
        }

        a.ui-link {
          margin-left: 20px;
          font-weight: 500;
          font-size: 14px;
          color: $f;

          &:hover {
            transform: scale(0.9);
          }
        }

        .langWrap {
          background: #333;

          a.active {
            background: #f21313;
          }
        }
      }
      span.l {
        margin: 0 10px;
        color: $f;
      }
    }
  }

  section.nav-container {
    position: relative;
    width: 100%;
    
    display: flex;
    flex-direction: row;

    .container {
      margin: 0 auto;
      padding: 0;
      align-items: center;
      padding: 20px 15px;
      justify-content: space-between;

      @media screen and (max-width: 500px) {
        padding: 0 20px
      }

      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logonav {
          position: relative;
          // margin: -20px 0 0;
          // padding: 10px 100px 0px 0px;
    
          // @media screen and (max-width: 1150px) {
          //   max-width: 150px;
          //   margin: 0;
          // }
    
    
          a.nav-logo {
						font-size: 40px;
						font-weight: bold;
						color: #000;

            @media screen and (max-width: 1150px) {
              margin: 10px 0;
            }
    
            @media screen and (max-width: 992px) {
              width: 200px;
            }
    
    
            img.logo-image {
              position: relative;
    
              @media screen and (max-width: 992px) {
                max-width: 240px;
                left: -10px;
              }
            }
          }
    
          @media screen and (max-width: 992px) {
          }
        }

      }

    }
 


  }
}

nav.navdiv {
  display: flex;
  justify-content: center;
  align-items: center;



  @media screen and (max-width: 992px) {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // mobile menu button
  .menu-button {
    position: relative;
    display: block;
    bottom: 20px;
    right: 20px;

    // show only desktop
    @media screen and (min-width: 992px) {
      display: none;
    }

    @media screen and (max-width: 992px) {
      position: absolute;
      bottom: 25px;
    }

    .bars {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      span.bar {
        width: 30px;
        height: 2px;
        background: #000;
        display: block;
        margin: 3px 0;
        border-radius: 5px;
      }

      &.activeitem {
        width: 30px;
        position: relative;
        height: 30px;
        top: 5px;

        span.bar:nth-child(1) {
          transform: rotate(45deg);
          top: 0;
        }

        span.bar:nth-child(2) {
          transform: rotate(-45deg);
        }

        span.bar {
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.3s;
          display: block;
          width: 30px;
          height: 2px;
          margin: 8px 0;
          background: #d88d41;
        }

        span.bar:nth-child(3) {
          display: none;
        }
      }

      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  .navbaritems {
    // dropdown

    @media screen and (max-width: 992px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }

    &.activemenu {
      opacity: 1;
      visibility: visible;
    }

    // First level
    > ul.items {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }

      @media screen and (max-width: 11150px) {
        margin: 10px 0;
      }

      // First & last elements
      > li.menu-item.first-menu-item {
        border-left: none;
      }
      > li.menu-item.last-menu-item {
        padding-right: 0;
          a span {
            color: #000;
          }
      }

      > li.menu-item {
        position: relative;

        padding: 0 10px 0px;

        list-style: none;
        text-align: center;
        margin-top: 0;

				@media screen and (max-width: 992px) {
					margin-top: 5px;
				}

        &:nth-last-child(1) {
          margin-right: 0;
        }
        &:nth-child(1) {
          &::before {
            display: none;
          }
        }

        &::before {
          content: close-quote;
          left: 0;
          width: 1px;
          height: 20px;
          background-color: $f;
          border-radius: 0;
          display: block;
          position: absolute;
          top: 2px;
          transform: translate(-20px);
          opacity: 0.3;
        }

        // first level link
        > a.menulink {
          font-weight: Bold;
          letter-spacing: 0.2em;
          color: #000;
          position: relative;
          text-decoration: none;
          display: block;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0px;
          line-height: 1.6;
          border-right: $color-main;
          font-family: $font-primary;

          @media screen and (max-width: 992px) {
            color: $f;
          }

          &:before {
            content: close-quote;
            position: absolute;
            top: 100%;
            left: 0;
            width: 0px;
            height: 5px;
            background-color: var(--m);
            transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
          }

          &:hover {
            &:before {
              left: calc(100% - 20px);
              width: 20px;
            }
          }
        }

        // drop menu container
        > .dropmenu {
          position: absolute;
          top: 100%;
          right: 0;
          left: 50%;
          transform: translate(-50%, 0px);
          background: rgba($se, 0.8);
          width: 300px;
          transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
          border-radius: 5px;
          overflow: hidden;

          transform: translate(-50%);
          transform-origin: top;
          clip: rect(auto, auto, 0, auto);

          @media screen and (max-width: 992px) {
            position: relative;
            top: 0;
            clip: rect(auto, auto, 0, auto);
            overflow: hidden;
            max-height: 0;
          }

          ul.dropmenuitems {
            padding: 0;
            margin: 0;

            li.menu-item {
              list-style: none;
              margin: 0;

              a.menulink {
                color: $f;
                font-weight: Bold;
                font-size: 14px;
                letter-spacing: 0.1em;
                line-height: 2;
                display: inline-flex;
                padding: 5px;
                text-decoration: none;

                position: relative;

                &:before {
                  content: close-quote;
                  position: absolute;
                  top: 100%;
                  left: 0;
                  width: 0px;
                  height: 5px;
                  background-color: $f;
                  transition: all 2s cubic-bezier(0, 0.55, 0.45, 1);
                }

                &:hover {
                  &:before {
                    left: calc(100% - 20px);
                    width: 20px;
                  }
                }
              }
            }
          }
        }

        // hover state
        &.hasdropdown {
          &:hover {
            > a.menulink {
              &:before {
                left: calc(100% - 20px);
                width: 20px;
              }
            }

            > .dropmenu {
              transform: scaleY(1) translate(-50%);
              clip: rect(auto, auto, 30vh, auto);
            }
          }
        }

        // mobile menu active
        &.animamenu {
          .dropmenu {
            clip: rect(auto, auto, 30vh, auto);
            max-height: 30vh;
          }
        }
      }
    }

    // mobile active menu
    &.activemenu {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      background: $color-main;
      margin: 0;
      padding: 20px 50px;
      opacity: 1;
      visibility: visible;
      max-height: 100vh;

      @media screen and (max-width: 992px) {
      }
    }
  }
}

